/**
 * Colors mixin
 */
@use "../variables" as v;

@mixin colors($text-color: true, $background-color: true) {
	@each $name, $color in v.$colors {
		$current-color-name:                $name !global;
		$current-color:                     color($name) !global;
		$current-color-selector:            ".has-#{ $name }-color" !global;
		$current-background-color-selector: ".has-#{ $name }-background-color" !global;

		@if ($text-color) {
			#{if(&, "&", "")}#{ $current-color-selector } {
				color: $color;
			}
		}

		@if ($background-color) {
			#{if(&, "&", "")}#{ $current-background-color-selector } {
				background-color: $color;
			}
		}

		@content;
	}
}
