/**
 * Pseudoelement mixins
 */
@use "sass:string";
@use "scss/utils/functions/unit" as u;

@mixin pseudoelement(
	$content: "",
	$width: null,
	$height: null,
	$top: null,
	$left: null
) {
	$width: u.maybe-rem-calc($width);
	$height: u.maybe-rem-calc($height);
	$top: u.maybe-rem-calc($top);
	$left: u.maybe-rem-calc($left);

	content: $content;
	display: block;
	height: $height;
	left: $left;
	position: absolute;
	top: $top;
	width: $width;

	@content;
}

@mixin before(
	$content: "",
	$width: null,
	$height: null,
	$top: null,
	$left: null
) {
	&::before {
		@include pseudoelement($content, $width, $height, $top, $left) {
			@content;
		}
	}
}

@mixin after(
	$content: "",
	$width: null,
	$height: null,
	$top: null,
	$left: null
) {
	&::after {
		@include pseudoelement($content, $width, $height, $top, $left) {
			@content;
		}
	}
}
