/**
 * Text mixins
 */
@use "../functions/unit" as u;
@use "../variables" as v;
@use "props";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

@mixin font-size($size, $line-height: null) {
	font-size: u.rem-calc($size);

	@if (meta.type-of($line-height) == "number") {
		$calculated: math.div($line-height, $size);
		$round: math.div(math.round($calculated * 10000), 10000);

		@if ($calculated != $round) {
			/* stylelint-disable-next-line */
			$calculated: calc(#{$line-height}em / #{$size});
		}

		line-height: $calculated;
	}
}

@mixin style($style) {
	$text-styles: map.get(v.$typography, text-styles);

	@if map == meta.type-of($text-styles) {
		$props: map.get($text-styles, $style);

		@if $props {
			@include props.from-map($props);
		}
	}
}
