includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 8
    paths:
        - src/classes/
        - src/templates/
        - src/views/
        - functions.php
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - stubs/kirki.stub
    scanDirectories:
      - dependencies
    ignoreErrors:
      -
        identifier: trait.unused
      -
        identifier: staticProperty.dynamicName
