@use "../utils/breakpoint" as bp;

.responsive-spacer {
	&-fullsize {
		@include bp.down(md) {
			display: none;
		}
	}

	&-tablet {
		display: none;

		@include bp.down(md) {
			display: block;
		}

		@include bp.down(sm) {
			display: none;
		}
	}

	&-mobile {
		display: none;

		@include bp.down(sm) {
			display: block;
		}
	}
}
