/**
 * Variables
 */
@use ".tmp/scss/vars" as *;
@use "functions/string";
@use "sass:map";
@use "scss/utils/functions/unit" as *;

$typography: string.kebab-case-keys(map.get($vars, "typography"), true);
$breakpoints: string.kebab-case-keys(map.get($vars, "general", "breakpoints"));
$colors: string.kebab-case-keys(map.get($vars, "colors"));

$font-primary: "Arial", sans-serif;
$font-secondary: "Times New Roman", serif;

$fonts: (
	primary: $font-primary,
	secondary: $font-secondary,
	header: $font-secondary,
);

$content-width: rem-calc(map.get($vars, "layout", "contentSize"));
$alignwide-width: rem-calc(map.get($vars, "layout", "wideSize"));
$container-width: rem-calc(map.get($vars, "layout", "containerSize"));
$padding: rem-calc(map.get($vars, "layout", "padding"));
$padding-mobile: rem-calc(map.get($vars, "layout", "paddingMobile"));

$padding-breakpoint: map.get($vars, "layout", "paddingBreakpoint");
