/**
 * Color Function
 */
@use "../variables" as *;
@use "sass:list";
@use "sass:map";
@use "sass:string";

@function get($colorName, $index: 1) {
	$colorName: string.quote(#{$colorName});

	@if map.has-key($colors, $colorName) {
		$color: map.get($colors, $colorName);

		$return: "";

		@if $index == "light" {
			$index: 2;
		} @else if $index == "dark" {
			$index: 3;
		}

		@if type-of($color) == "list" {
			$return: list.nth($color, $index);
		} @else {
			$return: $color;
		}

		@return $return;
	} @else {
		@error "Invalid color: #{$colorName}.";
	}

	@return null;
}
